*{
    margin:0;
    padding:0;
    font-family: 'Peppins',"sans-serif";
    box-sizing: border-box;
}
body{
    background-color:rgb(16, 15, 15);
    color:white;
}
#header{
    width:100%;
    height:100%;
    background-image:url();
    background-size:cover;
    background-position: center;
}
.container{
    padding:10px 10% 10%;
}
nav{
    display:flex;
    align-items:center;
    float:right;
    justify-content:space-between;
    flex-wrap:wrap;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    position:relative;
}
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background:#29e922;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 20%;
    font-size:30px;
}
.header-text h1{
    margin-top:20px;
    font-size:60px;
}
.header-text h1 span{
    color:rgb(74, 181, 239)
}
#about{
    padding-top:80px;
    color:#ababab;
}
.about-col-1{
    border:2px solid white;
    padding:10px;
    color:pink;
    background-color:green;
}
.about-col-2{
    box-shadow:white 3px 5px 5px;
    padding:50px;
    margin:3%;
    font-size:larger;
    color:black;
    line-height: 40px;
    background-image:linear-gradient(to bottom,skyblue,white);
}
#skills{
    padding:70px;
    color:aliceblue;
}
.tab-titles{
    display:flex;
    margin-top:10px 0 40px;

}
.tab-links{
    margin-right:50px;
    padding-left:4%;
    font-size:30px;
    font-weight:500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:#ff004f;
    position:absolute;
    left:10px;
    bottom:-8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width:50%;
    left:40%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 20px;
    font-size:20px;
}
.tab-contents ul li span{
    color:#b54769;
    font-size:30px;
    padding-top:30px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:inline;
}
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis:80%;
}
.contact-left p{
    margin-top:30px;
}
.contact-left p i{
    color:#ff004f;
    margin-right:15px;
    font-size:25px;
}
.row{
    display:flex;
}
.social-icons{
    margin-top:30px;
}
.social-icons a{
    text-decoration: none;
    font-size:30px;
    margin-right:15px;
    color:#ababab;
    display:inline-block;
    transition:transform 0.5s;
}
.social-icons a:hover{
    color:#ff004f;
    transform:transitionY(-5px);
}
.btn.btn2{
    display:inline-block;
    background:red;
    padding:10px 25px 10px 25px;
    color:white;
    margin-left:15px;
    font-size:15px;
    border:2px solid rgb(19, 20, 21);
    border-radius:6px;
}
.content-right form{
    width:100%;
}
form input,form textarea{
    width:100%;
    padding:10px;
    border:0;
    outline:none;
    background:rgb(66, 64, 65);
    margin:15px;
    color:rgb(228, 228, 227);
    font-size:18px;
    border-radius:6px;
}
form .btn2{
    padding:14px 60px;
    font-size:18px;
    margin-top:20px;
    cursor:pointer;
}
#badges{
    padding:50px 0;
}
.badge-list{
   display:flex;
   margin-top:50px;
}
.badge{
    border-radius:10px;
    position:relative;
    overflow:hidden;
}
.badge img{
    width:80%;
    height:100%;
    border-radius:10px;
}
.copyright{
    width:100%;
    text-align:center;
    padding:25px 0;
    background:#262626;
    font-weight:300;
    margin-top:20px;
}

